/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            //  | CAPS ESC |  Q  |  W  |  E  |  R  |  T  |      |  Y  |  U   |  I  |  O  |  P  | BKSP   |
            //  | CTRL TAB |  A  |  S  |  D  |  F  |  G  |      |  H  |  J   |  K  |  L  |  ;  | SHFT ' |
            //      |ALT - |  Z  |  X  |  C  |  V  |  B  |      |  N  |  M   |  ,  |  .  |  /  | ALT = |
            //                | GUI [ | L2 ( | SHFT ENT  |      | SPC L1 | L2 ) | CTRL ] |

            bindings = <
&mt CAPS ESC      &kp Q  &kp W  &kp E           &kp R       &kp T              &kp Y        &kp U       &kp I           &kp O    &kp P     &kp BSPC
&mt LEFT_WIN TAB  &kp A  &kp S  &kp D           &kp F       &kp G              &kp H        &kp J       &kp K           &kp L    &kp SEMI  &mt RSHFT SQT
&mt LALT MINUS    &kp Z  &kp X  &kp C           &kp V       &kp B              &kp N        &kp M       &kp COMMA       &kp DOT  &kp FSLH  &mt RALT EQUAL
                                &mt LCTRL LBKT  &lt 2 LPAR  &mt LSHFT SPACE    &lt 1 ENTER  &lt 2 RPAR  &mt RCTRL RBKT
            >;
        };

        // num row   &kp N1  &kp N2   &kp N3  &kp N4  &kp N5       &kp N6 &kp N7  &kp N8  &kp N9  &kp N0
        //LAYER 1 

        nav_layer {
            // -----------------------------------------------------------------------------------------
            //    | BTCLR | F1 | F2 | F3 | F4 | VOLUP |      | EP_ON | EP_OFF | INS | MYCOMP | PSCRN | DEL  |
            // | CTRL TAB | F5 | F6 | F7 | F8 | VOLDN |      | LFT  |  DWN  |  UP  | RIGHT | BCSP| SHFT ' |
            //    | ALT - | F9 |F10 |F11 |F12 | MUTE  |      | HOME | PGUP  | PGDN |  END  | BACK | ALT = |
            //             | GUI [ | L2 ( | SHIFT ENT |      | SPC | L2 ) | CTRL ] |

            bindings = <
&bt BT_CLR  &kp F1  &kp F2   &kp F3   &kp F4   &kp C_VOL_UP    &ext_power EP_ON  &ext_power EP_OFF  &kp INS    &kp C_AL_MY_COMPUTER  &kp PSCRN   &kp DEL
&trans      &kp F5  &kp F6   &kp F7   &kp F8   &kp C_VOL_DN    &kp LEFT          &kp DOWN           &kp UP     &kp RIGHT             &kp BSPC    &trans
&trans      &kp F9  &kp F10  &kp F11  &kp F12  &kp C_MUTE      &kp HOME          &kp PG_DN          &kp PG_UP  &kp END               &kp K_BACK  &trans
                             &trans   &trans   &trans          &trans            &trans             &trans
            >;
        };

        //LAYER 2

        raise_layer {
            // -----------------------------------------------------------------------------------------
            //        |  ` |  !  |  @  |  #  |  $  |  %  |     |  ^  |  &  |  *  |  (  |  )  | BKSP   |
            //  | CTRL TAB |  1  |  2  |  3  |  4  |  5  |     |  6  |  7  |  8  |  9  |  0  | SHFT ' |
            //     | ALT - |  6  |  7  |  8  |  9  |  0  |     |  -  |  =  |  [  |  ]  |  \  | ALT = |
            //                      | GUI [ | L2 ( | SPC |     | ENT | L2 ) | CTRL ] |

            bindings = <
&kp GRAVE  &kp EXCL  &kp AT  &kp HASH  &kp DLLR  &kp PRCNT    &kp CARET  &kp AMPS   &kp ASTERISK  &kp LPAR  &kp RPAR  &kp BSPC
&trans     &kp N1    &kp N2  &kp N3    &kp N4    &kp N5       &kp N6     &kp N7     &kp N8        &kp N9    &kp N0    &trans
&trans     &kp N6    &kp N7  &kp N8    &kp N9    &kp N0       &kp MINUS  &kp EQUAL  &kp LBKT      &kp RBKT  &kp BSLH  &trans
                             &trans    &trans    &trans       &trans     &trans     &trans
            >;
        };

        lower_layer {
            bindings = <
&kp GRAVE  &kp EXCL  &kp AT  &kp HASH  &kp DLLR  &kp PRCNT    &kp CARET  &kp N1  &kp N2  &kp N3  &kp MINUS  &kp BSPC
&trans     &kp N1    &kp N2  &kp N3    &kp N4    &kp N5       &kp N0     &kp N4  &kp N5  &kp N6  &kp PLUS   &trans
&trans     &kp N6    &kp N7  &kp N8    &kp N9    &kp N0       &kp DOT    &kp N7  &kp N8  &kp N9  &kp BSLH   &kp RETURN
                             &trans    &trans    &trans       &trans     &trans  &trans
            >;
        };
    };
};
